*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vw;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Epilogue', sans-serif;
}

.navmobile {
    display: none;
}

//NAV DESKTOP
.nav {
    width: 100vw;

    //NAV RIGHT SIDE (LOGIN REGISTER)
    &__right {
        display: inline-flex;
        float: right;
        font-size: 14px;
        color: hsl(0, 0%, 41%);
        align-items: center;
        gap: 1rem;
        margin: 0 2rem;
        padding-top: 5px;
        margin-top: -10px;

        button {
            font-family: 'Epilogue', sans-serif;
            font-weight: 500;
            background-color: white;
            border-color:hsl(0, 0%, 41%);
            color: hsl(0, 0%, 41%);
            padding: 0.6rem 1.2rem;
            border-radius: 11px;
            border-width: 2px;
            border-style: solid;
            cursor: pointer;

            &:hover {
                color: hsl(0, 0%, 8%);
                border-color: hsl(0, 0%, 8%);
            }
        }

        &icon {
            display: none;
            list-style: none;
            cursor: pointer;
        }

        &item {
            list-style: none;
            font-weight: 500;
            position: relative;
            padding: 1.5rem 1rem;
            cursor: pointer;

            &:hover, &:focus {
                color: hsl(0, 0%, 8%);
            }
        }
    }
    //END NAV RIGHT

    //NAV LEFT SIDE
    &__list {
        display: inline-flex;
        font-size: 14px;
        color: hsl(0, 0%, 41%);
        align-items: center;
        gap: 1rem;
        margin: 0 2rem;
        padding-top: 5px;

        //LOGO
        &logo {
            list-style: none;
            padding-top: 10px;
            padding-right: 30px;
            margin-right: auto;
            cursor: pointer;
        }

        //LIST LINK ITEMS
        &item {
            list-style: none;
            font-weight: 500;
            position: relative;
            padding: 1.5rem 1rem;
            cursor: pointer;

            &:hover, &:focus {
                color: hsl(0, 0%, 8%);
            }

            &::after {
                content:"";
                width: 0;
                height: 0.3rem;
                border-radius: 6px;
                position: absolute;
                left: 1rem;
                bottom: 0.8rem;
            }

            &:hover ul, &:focus ul {
                opacity: 1;
                visibility: visible;
            }

            //DROP MENU FOR LISTS
            &drop{
                position: absolute;
                font-size: 14px;
                top: 3.5rem;
                left: -1rem;
                box-shadow: 0 0 10px gray;
                background-color: white;
                border-radius: 6px;
                width: 10rem;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                opacity: 0;
                visibility: hidden;
                transition: opacity 200ms ease-in-out;

                li{
                    list-style: none;
                    padding: 0.5rem 1rem;
                    border-radius: 6px;
                    transition: background-color 200ms ease-in-out;

                    &>img{
                        padding-right: 5px;
                    }

                    &:hover, &:focus {
                        background-color: rgb(235, 235, 235);

                    }
                }
            }
        }
    }
}
//END NAV

//MOBILE HERO(Only Displayed <= 829px)
.mobilehero {
    display: none;
}

//LEFT SIDE CONTAINER
.containerleft {
    float: left;
    margin-top: -25px;
    margin-left: -1rem;
    width: 47%;

        h1 {
        color:hsl(0, 0%, 8%);
        font-weight: 700;
        font-size: 65px;
        font-size: 5vw;
        padding-top: 10rem;
        padding-left: 11rem;
        }

        h2 {
            font-size: 18px;
            font-size: 1.3vw;
            line-height: 25px;
            color:hsl(0, 0%, 41%);
            font-weight: 500;
            padding-top: 3rem;
            padding-top: 4vw;
            padding-left: 11rem;
        }

        button {
            font-family: 'Epilogue', sans-serif;
            font-weight: 500;
            font-size: 18px;
            font-size: 1.3vw;
            margin-left: 11rem;
            margin-top: 3rem;
            margin-top: 4vw;
            background-color:hsl(0, 0%, 8%);
            color: white;
            padding: 0.8rem 1.6rem;
            border-radius: 14px;
            cursor: pointer;
            transition: ease-in-out 115ms;

            &:active {
                background-color: rgb(255, 255, 255);
                border-width: 2px;
                color:hsl(0, 0%, 8%);
            }
        }

        &__clients {
            display: flex;
            gap: 2rem;
            list-style: none;
            margin-left: 11rem;
            margin-top: 9.5rem;
        }
}

//RIGHT SIDE CONTAINER
.containerright {
    resize: both;
    height: auto;
    width: 50vw;
    margin: 0;
    overflow: hidden;
    float: right;
    max-width: 50%;
    padding-left: 3rem;
    padding-top: 3rem;

    img {
        width: 76%;
        justify-content: center;
    }
}

//BEGIN MEDIA QUERIES


//Queries to shrink just for smaller desktop screens
@media screen and (max-width: 915px) {
//NAV
    .nav__right {
        font-size: 12px;
        button {
            font-size: 12px;
        }
    }

    .nav__list {
        font-size: 12px;

        &logo {
            padding-right: 0px;

            img {
                width: 75%;
                height: 75%;
            }
        }
    }
}

//END NAV


//Queries for browser on phone (NON MOBILE APP)
@media screen and (max-width: 829px) {
    .navmobile {
       display: none;
    
        &__active {
            display: inline-block;
            opacity: 1;
            position: absolute; 
            right: 0px;
            background-color:hsl(0, 0%, 100%);
            width: 60vw;
            min-height: 225vw;
            box-shadow: 15px 0px 15px 0px;
            overflow: hidden;
        }
    
        &__bottom {
            display: block;
            justify-content: center;
            margin-top: -40px;
            text-align: center;
    
            li {
                font-family: 'Epilogue', sans-serif;
                color:hsl(0, 0%, 41%);
                font-size: 14px;
                line-height: 2rem;
                list-style: none;
            }
    
            &item {
                button {
                    font-family: 'Epilogue', sans-serif;
                    font-weight: 500;
                    background-color: white;
                    border-color:hsl(0, 0%, 41%);
                    color: hsl(0, 0%, 41%);
                    padding: 0.6rem;
                    padding-right: 20vw;
                    padding-left: 20vw;
                    border-radius: 11px;
                    border-width: 2px;
                    border-style: solid;
                    cursor: pointer;
        
                    &:hover {
                        color: hsl(0, 0%, 8%);
                        border-color: hsl(0, 0%, 8%);
                    }
            }
            }
        }
    
        &__icon {
            list-style: none;
            display: flex;
            float: right;
            padding-top: 1.3rem;
            padding-right: 2.1rem;
        }
    
        &__list {
            display: inline-block;
            font-size: 14px;
            color:hsl(0, 0%, 41%);
            padding-top: 4rem;
            padding-bottom: 2rem;
            padding-left: 1rem;
            list-style: none;

                li {
                    padding-top: 1.5px;
                    padding-bottom: 1.5rem;
                    padding-left: 1rem;
                }
    
            &item {
                padding: 0.5rem;
    
                &drop {
                    display: none;
                    list-style: none;
                    padding-top: 1rem;
                    padding-left: 0rem;
                    margin-bottom: -20px;

                        &__active {
                            display: block;
                            list-style: none;
                            padding-top: 1rem;
                            padding-left: 0rem;
                            margin-bottom: -20px;
                        }
                    
                        &comp {
                            display: none;
                            list-style: none;
                            padding-top: 1rem;
                            padding-left: 0rem;
                            margin-bottom: -20px;

                            &__active {
                                display: block;
                                list-style: none;
                                padding-top: 1rem;
                                padding-left: 0rem;
                                margin-bottom: -20px;
                            }
                        }
                }
            }
        }
    }

//NAV
    .nav {
        width: 100vw;
    }

    .nav__list {

        &logo {
            padding-right: 30px;
            list-style: none;
            padding-top: 22px;
            padding-right: 30px;
            margin-right: auto;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .nav__listitem {
        display: none;
    }

    //DISPLAY ICON
    .nav__right {
        &item {
            display: none;
        }

        &icon {
            padding-top: 30px;
            float: right;
            display: flex;
            text-align: left;
        }
    }

    .mobilehero {
        display: flex;
        
        img {
            width: 100vw;
            padding-top: 1rem;
        }
    }
    //BODY
    
    .container {
        &left {
            width: 100%;
            float: none;
            margin-left: 0px;
            margin-top: 0px;
            padding: 0px 0px;

            h1 {
                font-size: 35px;
                display: flex;
                justify-content: center;
                text-align:center;
                padding-top: 3rem;
                padding-left: 0px;
                width: 100%;
            }

            h2 {
                font-size: 16px;
                display: flex;
                text-align: center;
                justify-content: center;
                padding-top: 1.5rem;
                padding-left: 1rem;
                padding-right: 1rem;
            }

            button {
                font-size: 16px;
                margin: auto;
                display: flex;
                justify-content: center;
                text-align: center;
                margin-top: 1.5rem;
            }

            &__clients {
                margin-left: 0px;
                margin-top: 4rem;
                gap: 1rem;
                padding-bottom: 5rem;
                justify-content: center;
                
                img {
                    width: 20vw;
                    
                }

            }
        }

        &right {
            display: none;
        }
    }
}